<mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

  <ng-container matColumnDef="seqNo">
    <mat-header-cell *matHeaderCellDef>Identyfikator</mat-header-cell>
    <mat-cell *matCellDef="let employee">{{employee.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Nazwa użytkownika</mat-header-cell>
    <mat-cell class="description-cell"
              *matCellDef="let employee">{{employee.username}}</mat-cell>

  </ng-container>

  <ng-container matColumnDef="duration">
    <mat-header-cell *matHeaderCellDef>Rola</mat-header-cell>
    <mat-cell class="duration-cell"
              *matCellDef="let employee">{{employee.role}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
    <mat-cell *matCellDef="let row" >
      <button mat-raised-button> Edit </button>
      <button mat-raised-button> Delete </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
